/* LINKEASY BY MATTHIAS CLAUDIUS REEF - V1.0 */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 19px;
    color: #333;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 17px;
    line-height: 1.4;
    color: #333;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    color: #333;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

small {
    font-size: 16px;
    color: #333;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

a {
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #777;
}

/* EDIT DESCRIPTION LINK COLOR */
a:hover {
    color: #a78a5e;
}

.section {
    width: 90%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    background: #fff;
}

.social-spacing {
    margin-left: 16px;
    margin-right: 16px;
    white-space: nowrap;
    line-height: 1.5;
}

.clear {
    clear: both;
}

.avy {
    opacity: .95;
    width: 96px;
    height: 96px;
}
.avy:hover {
    opacity: 1;
}
.round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; /* future proofing */
    -khtml-border-radius: 50%; /* for old Konqueror browsers */
    -webkit-appearance: none;
}

/* EDIT LINK UNDERLINE COLOR */
.underline:hover {
    border-bottom: 1px solid #a78a5e;
}

.preul {
    border-bottom: 1px solid #eee;
}

.center-align {
    text-align: center;
}

.white {
    color: #fff;
}

.light-grey {
    color: #ccc;
}

.divider {
    border-bottom: 1px solid #eee;
}

/* EDIT BUTTON BACKGROUND COLOR */
.button {
    background: #a78a5e;
    opacity: .9;
    padding: 20px;
    margin: 10px auto;
}

.button:hover {
    opacity: 1;
}

.padding-top-50 {
    padding-top: 50px;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}
.padding-bottom-100 {
    padding-bottom: 100px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-top-15 {
    padding-top: 15px;
}

@media (max-width: 768px) {

}
